#tovabb{
	position:relative;
	top:-39px;
	left:580px;
	width:120px;
	background-color: rgba(255, 165, 0, 60%);
	color: white;
	padding: 15px;
	margin: -35px;
}

.felkover{
	font-weight: bolder;
}

#tartalom{
width: 600px;
margin: auto;
margin-top: 0px;
}

table{
	width: 500px;
}

td{
	width: 75px;
	
}

#tovabb :hover{
	background-color: black;
}

a{
text-decoration: none;
}

h1{
	text-decoration: underline lightgray 1px;
}

p{
	text-align: justify;
}
